{% extends "tutorials/header.html" %}


{% block content %}


  <div class="row">
    <div class="col l12">
      {% for wel in welcome %}
      <div class="card">
        <div class="card-content">
          <span class="card-title center"><strong>{{wel.title}}</strong></span>
          <p>{{wel.content | safe}}</p>
          <p style="font-size:70%; float:right">{{wel.published}}, author: {{wel.author}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <ul class="collapsible">
    {% for new in news %}
      <li>
        <div class="collapsible-header">
          <i class="material-icons right">new_releases</i>{{new.title}}
        </div>
        <div class="collapsible-body">
          <span>{{new.content | safe}}</span>
          <p style="font-size:70%; float:right">{{new.published}}, author: {{new.author}}</p>
        </div>
      </li>
    {% endfor %}
    </ul>    
  </div>


{% endblock %}